* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
}

:accent {
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
}

netural {
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

.body {
  display: flex;
  justify-content: center;
}
.main-con {
  display: flex;
  justify-content: center;
  color: var(--White);
  margin: 150px 0;
  box-shadow: 5px 10px 30px rgb(0, 0, 0, 0.1);
  border-radius: 30px;
}
.card-1 {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  padding: 20px;
  text-align: center;
  border-radius: 30px;
}
.Your {
  font-size: 22px;
  font-weight: 500;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}
.seven {
  font-size: 70px;
  font-weight: 800;
}
.card-1 h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.you {
  font-size: 18px;
  padding: 10px;
  line-height: 25px;
}
.card-2 {
  width: 350px;
  padding: 20px 35px;
}
.card-2 h3 {
  color: var(--Dark-gray-blue);
  font-size: 21px;
  margin-top: 20px;
}
.Results {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.red {
  background-color: hsla(0, 100%, 67%, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

.react {
  display: flex;
  gap: 15px;
}
.react p {
  color: var(--light-red);
  font-size: 18px;
  font-weight: 700;
}
.memo p {
  color: hsla(224, 30%, 27%, 0.2);
  font-size: 18px;
  font-weight: 700;
}
.memo p span {
  color: var(--Dark-gray-blue);
  font-weight: 700;
}
.yellow {
  background-color: hsla(39, 100%, 56%, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}
.memory {
  display: flex;
  gap: 15px;
}
.memory p {
  color: var(--orange-yellow);
  font-size: 18px;
  font-weight: 700;
}

.memo p {
  color: hsla(224, 30%, 27%, 0.2);
  font-size: 18px;
  font-weight: 700;
}
.memo p span {
  color: var(--Dark-gray-blue);
  font-weight: 700;
}
.green {
  background-color: var(166, 100%, 37%, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

.verbal {
  display: flex;
  gap: 15px;
}
.verbal p {
  color: var(--green-teal);
  font-size: 18px;
  font-weight: 700;
}
.memo p {
  color: hsla(224, 30%, 27%, 0.2);
  font-size: 18px;
  font-weight: 700;
}
.memo p span {
  color: var(--Dark-gray-blue);
  font-weight: 700;
}
.blue {
  background-color: var(234, 85%, 45%, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}
.visual {
  display: flex;
  gap: 15px;
}
.visual p {
  color: var(--cobalt-blue);
  font-size: 18px;
  font-weight: 700;
}
.memo p {
  color: var(224, 30%, 27%, 0.2);
  font-size: 18px;
  font-weight: 700;
}
.memo p span {
  color: var(--Dark-gray-blue);
  font-weight: 700;
}
